.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  
  height: 200px;
  
  &:nth-child(even) {
    background-color: white;
  }
  
  &:nth-child(odd) {
    background-color: ghostwhite;
  }
}

.loading {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}